*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    font-size: 16px;
}
h1, h2{
    text-align: center;
    font-size: 40px;
    color: #5c3428;
}
h3{
    font-size: 20px;
}
.textoContenido{
    font-size: 20px;
}
/*--------------------------header------------------------------------------------------------------*/
header{
    color: #d9937e;
    background: #f9efec;
    padding: 1% 6%;
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1{
    width: 10%;
    flex-shrink: 0;
}
header nav{
    width: 35%;
    flex-shrink: 0;
   
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header nav li{
    display: inline-block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header a{
    color: #9B918E;
    text-decoration: none;
    padding: 5%;
    padding: 10px 15px;    
}
header a:hover{
    color: #d9937e;
}
header #contactoHeader{
    background-color: #d9937e ;
    color: #f9efec;
    border-radius: 20px;
    
}
ul ul{
    position: absolute;
    background-color: #f9efec;
    width: 100%;
    top: 40px;
    display: none;
}
ul ul li{
    display: block;
    padding: 3%;
}
ul li:hover ul{ display: block;}
/*--------------------------img principal------------------------------------------------------------------*/

#imgPrincipal{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/imgPrincipal.jpg);
    background-size: cover;
}
/*--------------------------quienes somos------------------------------------------------------------------*/
#qsomos{
    height: 600px;
    width: 100%;
    background-color: #F9EFEC;
    display: flex;
    justify-content: center;
}
#qsomos-box{
    width: 100%;
    max-width: 1116px;
    padding: 1% 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
#qsomos-texto{
    width: 50%;
    padding-right:3%;
}
#qsomos-titulo{
    margin-bottom: 30px;
}
#img-qsomos{
    width: 600px;
    width: 350px;
}
/*--------------------------footer------------------------------------------------------------------*/
footer{
    width: 100%;
    color: white;
}
.box{
    width: 100%;
    max-width: 1366px;
}
footer #box-piePagina{
    height: 300px;
    background-color: #d9937e;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer #piePagina{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 8%;

}

footer #footerNavegacion ul{
    width: 100%;
    display: inline-block;
}
footer a{
    color: white;
    text-decoration: none;
}
#box-copyright{
    background-color: #d4846c;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer #copyright{
    padding: 1% 8%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logomio{
    width: 20px;
    height: 20px;
}


/*--------------------------html contacto------------------------------------------------------------------*/

#contacto{
    text-align: center;
    background-color: #efd1c8;
    padding: 3%;
}
#contacto div{
    margin: 10px;
}
/*--------------------------html FAQs------------------------------------------------------------------*/
section#preguntas{
    padding: 2%;
    background-color: #efd1c8;
}
.boxPregunta{
    padding: 2%;
}