*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*?--------------------------celular------------------------------------------------------------------*/
@media only screen and (min-width:320px){

    h1, h2{
        text-align: center;
        font-size: 30px;
        color: #8A4E3C;
        margin: 0;
        padding: 0;
    }
    .boton{
        width: 200px;
        height: 48px;
        border-radius: 24px;
        border: none;
        background: #D9937E;
        color: #F9EFEC;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    .boxPadre{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 100%;
        padding: 5% 8%;
    }
    

    /*--------------------------header------------------------------------------------------------------*/

    body{
        font-size: 16px;
    }
    header{
        height: 88px;
        color: #d9937e;
        background: #F9EFEC;
        position: sticky;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0% 8%;
        z-index: 10;
        
    }
    .logo{
        height: 25px;
    }
    nav{
        display: none;
    }
    /*--------------------------img principal------------------------------------------------------------------*/
    #principal{
        position: relative;
        width: 100%;
        height:800px;
        overflow: hidden;
    }
    #imgPrincipal{
        width: 100%;
        height:100%;
        background-image: url(../imagenes/imgPrincipal2.jpg);
        background-size: cover;
        z-index: -10;
    }
    #box-contprincipal{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: 300px;
        text-align: center;
        top: 30%; 
        padding: 3%;
    }
    .principal-titulo{
        padding-bottom: 8%;
        width: 100%;
    }
    ul{
        list-style: none;
    }

    header a{
        text-decoration: none;
  
    }
    .box-whatsapp{
        width: 65px;
        height: 65px;
        position: fixed;
        background-color: #8A4E3C;
        bottom: 5%;
        right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 30;
    }
    .icono-whatsapp{
        width: 45px;
    }
    /*--------------------------informacion------------------------------------------------------------------*/
    #informacion{
        background-color: #EFD1C8;
    }

    #box-informacion{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .informacion-item{
        margin: 40px 0px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    .box-icono{
        background-color: #FFF0F0;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    }
    .icono{
        width: 40px;
        height: 40px;
    }

    /*--------------------------quienes somos------------------------------------------------------------------*/
    #qsomos{
        height: 600px;
        width: 100%;
        background-color: #F9EFEC;
        
    }
    #qsomos-box{
        display: grid;
        grid-template:  auto auto / auto ;
        text-align: center;
        grid-template-areas: "qsomos-texto"
                                "img-qsomos";
        justify-content: center;
        align-items: center;
    }
    #qsomos-texto{
        grid-area: "qsomos-texto";
        padding-bottom: 8%;
        width: 320px;
    }
    #qsomos-titulo{
        margin-bottom:  8%;
    }
    #img-qsomos{
        width: 320px;
        height: 239px;
        grid-area: "img-qsomos";
    }
    /*--------------------------Servicios------------------------------------------------------------------*/
    #servicios{
        background-color: #EFD1C8;
        padding: 10% 3%;
    }
    #box-servicios{
        display: grid;
        grid-template: repeat(4, auto) / auto;
        gap: 30px;
        justify-content: center;
    }
    .servicio-item{
        width: 300px;
        height: 250px;
        background-color: #F9EFEC;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 10% 0px;
    }
    .servicio-titulo{
        width: 100%;
        font-size: 27px;
        font-weight: normal;
        margin: -50px 0px;
    }
    .servicio-icono{
        height: 48px;
        width: 48px;
    }
    .servicio-texto{
        width: 220px;
    }
    /*--------------------------introCatalogo------------------------------------------------------------------*/
    #intoCatalogo{
        background: #F9EFEC;
    }
    
    .box-intoCatalogo{
        display: grid;
        grid-template: repeat(4, auto) / auto;
        gap: 30px;
        text-align: center;
        justify-items: center;
        padding: 12% 5%;
    }
    .intoCatalogo-texto{
        width: 310px;
    }
    .intoCatalogo-img{
        width: 300px;
        height: 200px;
    }

    /*--------------------------footer------------------------------------------------------------------*/
    
    footer{
        width: 100%;
        color:#F9EFEC;
    }

    footer #box-piePagina{
        height: 550px;
        background-color: #d9937e;
        width: 100%;
    }
    footer #piePagina{
        display: grid;
        grid-template:  auto auto auto / auto ;
        grid-template-areas: "footerContacto"
                                "footerNavegacion"
                                "footerRedes";
        gap: 46px;
    }

    footer #footerContacto{
        grid-area: "footerContacto";
    }
    footer #footerNavegacion{
        grid-area: "footerNavegacion";
    }
    footer #footerRedes{
        grid-area: "footerRedes";
    }
    footer #footerNavegacion ul{
        width: 100%;
        display: inline-block;
    }
    footer a{
        color:#F9EFEC;
        text-decoration: none;
    }
    .footerRedes-icono{
        margin: 5% 2%;
    }
    #box-copyright{
        background-color: #d4846c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer #copyright{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 128px;
        align-items: center;
       
    }
    #diseñoPor{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    #logomio{
        width: 30px;
        padding-left: 3%;
    }
    /*--------------------------html FAQs------------------------------------------------------------------*/
    #box-faq{
        color: #8A4E3C;
        text-align: left;
    }
    section#preguntas{
        background-color: #efd1c8;
        padding: 4% 2%;
    }

    .boxPregunta{
        padding: 8% 2%;
    }

    /*--------------------------html contacto------------------------------------------------------------------*/
    
    #contacto{
        text-align: center;
        background-color: #EFD1C8;
        padding: 8% 2%;
    }
    #box-contacto{
        display: grid;
        grid-template: auto auto auto/ auto;
        grid-template-areas: "contacto-titulo"
                             "box-imgFormulario"
                             "box-formulario";
        align-items: center;
        justify-content: center
    }
    #contacto-titulo{
        width: 100%;
        margin-bottom: 3%;
        grid-area: "contacto-titulo";
    }
    #box-imgFormulario{
        width: 331px;
        height: 281px;
        grid-area: "box-imgFormulario";
        padding: 3% 0%;
    }
    #imgFormulario{
        width: 100%;
        height: 100%;
    }
    #box-formulario{
        width: 331px; 
        grid-area: "box-formulario";
        padding: 6% 0%;
    }

    #box-formulario div{
        width: 97%;
    }
    .formulario-input{
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-bottom: 32px;
        border: 2px solid #9b918e;
        padding: 0px 5px;
        
    }
    .formulario-input-mensaje{
        width: 100%;
        height: 93px;
        border-radius: 5px;
        margin-bottom: 32px;
        border: 2px solid #9b918e;
        padding: 0px 5px;
    }
    
    /*--------------------------html catalogo------------------------------------------------------------------*/
    #catalogo{
        background: #EFD1C8;
    }

    #box-catalogo{
        display: grid;
        grid-template: auto / auto fill;
        gap: 50px;
        justify-content: center;
        padding: 8%;
    }
    .catalogo-img{
        width: 300px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    /*--------------------------html productos------------------------------------------------------------------*/
    #productos{
        background-color: #EFD1C8;
    }
    
    .box-productos{
        padding: 50px 0px;
    }
    .productoItem{
        display: grid;
        grid-template: auto auto / auto;
        gap: 30px;
        justify-content: center;
        justify-items: center;
        margin-top: 50px;
        padding: 30px 25px;
        background: #F9EFEC;
    }
    .producto-texto{
        width: 290px;
    }
    .productos-titulo{
        color: #8A4E3C;
    }
    .productos-img{
        width: 290px;
        height: 200px;
    }
}

/*?--------------------------Tablet------------------------------------------------------------------*/
@media only screen and (min-width:768px){
    /*--------------------------quienes somos------------------------------------------------------------------*/
    #qsomos{
        height: 800px;
        width: 100%;   
    }

    #qsomos-texto{
        width: 440px;
    }

    #img-qsomos{
        width: 440px;
        height: 339px;
    }

    /*--------------------------html FAQs------------------------------------------------------------------*/

    section#preguntas{
        padding:2%;
    }

    .boxPregunta{
        padding: 4% 2%;
    }
    /*--------------------------html contactos------------------------------------------------------------------*/

    #box-formulario{
        width: 400px; 
    }
    #box-imgFormulario{
        width: 400px;
    }

    /*--------------------------html catalogo------------------------------------------------------------------*/
    .catalogo-img{
        width: 400px;
        height: 300px;
    }

    /*--------------------------html productos------------------------------------------------------------------*/
    .productoItem{
        padding: 40px 70px;

    }
    .producto-texto{
        width: 320px;
    }

    .productos-img{
        width: 320px;
        height: 220px;
    }
}

/*?--------------------------desktop------------------------------------------------------------------*/
@media only screen and (min-width:1024px){
    h1, h2{
        font-size: 50px;
    }
    .textoContenido{
        font-size: 20px;
    }
    
    .box{
        max-width: 1166px;
    }

    .boton:hover{
        background: #8A4E3C;
    }
    
    /*--------------------------header------------------------------------------------------------------*/
    header nav{
        display: block;
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    header nav li{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }
    header a{
        color: #9B918E;
        text-decoration: none;
        padding: 5%;
        padding: 10px 15px;    
    }
    header a:hover{
        color: #d9937e;
    }
    header #contactoHeader{
        background-color: #d9937e ;
        color: #f9efec;
        border-radius: 20px;
    }
    #contactoHeader:hover{
        background: #8A4E3C;
    }
    ul ul{
        position: absolute;
        background-color: #f9efec;
        width: 100%;
        top: 40px;
        display: none;
    }
    ul ul li{
        display: block;
        padding: 3%;
    }
    ul li:hover ul{ display: block;}
    
    .box-whatsapp{
        right: 5%;
    }
 
    /*--------------------------img principal------------------------------------------------------------------*/
    
    #imgPrincipal{
        height: 100vh;
    }
    #box-contprincipal{
        width: 100%;
    }
    .principal-titulo{
        padding-bottom: 3%;
    }

    /*--------------------------informacion------------------------------------------------------------------*/
    #box-informacion{
        justify-content: space-around;

    }
    .informacion-item{
        margin: 0px;
    }

    /*--------------------------quienes somos------------------------------------------------------------------*/
    #qsomos{
        position: relative;
        height: 800px; 
    }

    #qsomos-box{
        grid-template:  auto / auto auto;
        justify-content: space-between;
        background-color: #d9937e;
        color: #f9efec; 
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
    #qsomos-texto{
        margin-right: 2%;
        width: 450px;
    }   
    #qsomos-titulo{
        font-size: 52px;
        color: #f9efec;
   
    }
    #img-qsomos{
        width: 450px;
        height: 350px;
    }

    /*--------------------------Servicios------------------------------------------------------------------*/
    #servicios{
        padding: 1%; 
    }
    #box-servicios{
        grid-template: auto auto / auto auto;
        gap: 35px 70px;
    }
    #box-servicios-titulo{
        grid-column: span 2;
    }
    .servicio-item{
        width: 320px;
        height: 210px;
        padding: 15% 5%;
    }
    .servicio-item:hover{
        transform: scale(1.1, 1.1);
    }
    .servicio-titulo{
        font-size: 27px;
    }
    .servicio-icono{
        height: 48px;
        width: 48px;
    }
    .servicio-texto{
        width: 240px;
    }
    /*--------------------------introCatalogo------------------------------------------------------------------*/
    .intoCatalogo-texto{
        width: 200px;
        grid-area: "intoCatalogo-texto";
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .intoCatalogo-img{
        width: 300px;
        height: 600px;
    }
    .intoCatalogo-img-uno{
        grid-area: "intoCatalogo-img-uno";
        grid-row: span 2;
    }
    .intoCatalogo-img-dos{
        grid-area: "intoCatalogo-img-dos";
        grid-row: span 2;
    }
    #intoCatalogo-boton{
        grid-area: "intoCatalogo-boton";
        align-self: start; /*no estaria funcionand0*/
    }

    .box-intoCatalogo{
        display: grid;
        grid-template: repeat(2, auto) / repeat(3, auto);
        gap: 0px;
        grid-template-areas: "intoCatalogo-img-uno intoCatalogo-img-dos intoCatalogo-texto"
                                "intoCatalogo-img-uno intoCatalogo-img-dos intoCatalogo-boton";
        text-align: center;
        justify-items: center;
        align-items: center;
        padding: 8% 5%;
    }
    /*--------------------------footer------------------------------------------------------------------*/
    
    footer #box-piePagina{
        height: 300px;
    }
    footer #piePagina{
        grid-template:  auto / auto auto auto ;
        justify-content: space-between;
    }

    .footerRedes-icono{
        width: 35px;
    }

    footer #copyright{
        padding: 0%;
        padding: 0% 5%;
    }

    #logomio{
        width: 30px;
    }

     /*--------------------------html FAQs------------------------------------------------------------------*/
 
    section#preguntas{
        padding: 2%;
    }

    .boxPregunta{
        padding: 2%;
        font-size: 25px;
    }
       /*--------------------------html contacto------------------------------------------------------------------*/
    
    #contacto{
        text-align: center;
        background-color: #EFD1C8;
        padding: 0%;
    }
    #box-contacto{
        display: grid;
        grid-template: auto auto / auto auto;
        grid-template-areas: "contacto-titulo contacto-titulo"
                             "box-imgFormulario box-formulario";
        align-items: center;
        justify-content: center;
    }
    #contacto-titulo{
        width: 100%;
        margin-bottom: 3%;
        grid-area: "contacto-titulo";
        grid-column: 1 / 3;
    }
    #box-imgFormulario{
        width: 400px;
        height: 350px;
        grid-area: "box-imgFormulario"; 

    }
    #imgFormulario{
        width: 100%;
        height: 100%;
    }
    #box-formulario{
        width: 500px; 
        grid-area: "box-formulario";
        margin-left: 8%;
    }

    #box-formulario div{
        width: 97%;
    }
    .formulario-input{
        width: 100%;
        height: 45px;
        border-radius: 5px;
        margin-bottom: 32px;
        border: 2px solid #9b918e;
        padding: 0px 5px;
        
    }
    .formulario-input-mensaje{
        width: 100%;
        height: 93px;
        border-radius: 5px;
        margin-bottom: 32px;
        border: 2px solid #9b918e;
        padding: 0px 5px;
    }

    /*--------------------------html catalogo------------------------------------------------------------------*/

    #box-catalogo{
        padding: 5% 8%;
    }
    .catalogo-img{
        width: 458px;
        height: 282px;
    }
    .catalogo-img:hover{
        transform: scale(1.2, 1.2);
    }
    #catalogo-titlulo{
        grid-column: span 2;
    }


    /*--------------------------html productos------------------------------------------------------------------*/
    .box-productos{
        padding: 5% 0px;
    }
    .productoItem{
        display: grid;
        grid-template: auto / auto auto;
        gap: 60px;
        align-items: center;
        margin-top: 50px;
        padding: 60px 80px;
    }
    .producto-texto{
        width: 300px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .productos-titulo{
        font-size: 50px;
        font-weight: lighter;
    }
    .productos-img{
        width: 400px;
        height: 300px;
    }

}
