
/*---------colores-----------------------------------------------------------*/
$crema: #f9efec;
$naranja-claro: #EFD1C8;
$naranja-intermedio: #d9937e;
$naranja-oscuro: #D4846C;
$marron-oscuro: #8A4E3C;
$gris-claro: #9B918E;