/*--------------------------footer------------------------------------------------------------------*/

@media only screen and (min-width: $phone){
    
    .piePagina {
        @include sizes ( 100%, 570px);
        background-color: $naranja-intermedio;
        padding: 5% 0%;
        color:#F9EFEC;
        text-align: center;

        .piePagina__box { 
            display: grid;
            grid-template:  auto auto auto / auto ;
            grid-template-areas: "footerContacto"
                                    "footerNavegacion"
                                    "footerRedes";
            gap: 46px;
        }
    }
    

    .footerContacto{
        grid-area: "footerContacto";

        .footerContacto__logo{
            height: 25px;
        }
    }

    
    .footerNavegacion{
        grid-area: "footerNavegacion";

        .footerNavegacion ul{
            width: 100%;
            display: inline-block;
            margin: 0%;
        }
        
    }

    footer a{
        color:#F9EFEC;
        text-decoration: none;
    }
    .footerRedes {
        grid-area: "footerRedes";

        .footerRedes__icono {
            margin: 5% 2%;
        }
    }
  
    
    .copyright {
        background-color:$naranja-oscuro;
        color: $crema;

        .copyright__box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 128px;
            align-items: center;
            text-align: center;

            .diseñoPor{
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                margin: 0% auto;
        
                .diseñoPor__logomio{
                    width: 30px;
                    padding-left: 8%;
                }
            }
        }
    }
    
}
/*@media only screen and (min-width:768px){}*/

@media only screen and (min-width: $desktop){

    .piePagina {
        height: 350px;
        padding: 0%;
        text-align: start;

        .piePagina__box {
            grid-template:  auto / auto auto auto ;
            justify-content: space-between;

            .footerNavegacion {
                border-left: 1px solid $crema;
                padding-left: 50px;

                ul{
                    li{
                        a:hover{
                            color: lighten($naranja-claro, 10%);
                        }
                    }
                }

            }

            .footerRedes {
                border-left: 1px solid $crema;
                padding-left: 50px;
            }
        }
    }
    

    .footerRedes__icono {
        width: 35px;
    }
    .copyright {

        .copyright__box {
            padding: 0% 8%;
            text-align: start;

            .diseñoPor {
                margin: 0%;
        
                .diseñoPor__logomio {
                    width: 30px;
                }
            }
        }
    }
    
}