 /*--------------------------html catalogo------------------------------------------------------------------*/
 
@media only screen and (min-width: $phone){

    .catalogo{
        background:$naranja-claro;

        .catalogo__box{
            display: grid;
            grid-template: auto / auto fill;
            gap: 50px;
            justify-content: center;
            padding: 8%;

            .catalogo__img{
                @include sizes ( 300px, 200px);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
    
    
    
}
@media only screen and (min-width: $tablet){
    .catalogo {

        .catalogo__box {

            .catalogo__img {
                @include sizes ( 400px, 300px);
            }
        }
    }
    
}
@media only screen and (min-width: $desktop){

    .catalogo {

        .catalogo__box {
            padding: 5% 8%;

            .catalogo__titlulo{
                grid-column: span 2;
            }

            .catalogo__img{
                @include sizes ( 458px,282px);
            }
            .catalogo__img:hover{
                transform: scale(1.2, 1.2);
                transition: transform 1s;
            }
        }
    }
}
 
