/*--------------------------Home------------------------------------------------------------------*/

@media only screen and (min-width: $phone){
    /*--------------------------img principal------------------------------------------------------------------*/
    .principal{
        position: relative;
        @include sizes ( 100%, 100vh);
        overflow: hidden;

        .principal__img{
            @include sizes ( 100%, 100%);
            background-image: url(../imagenes/principal__img.jpg);
            background-size: cover;
            z-index: -10;
        }
        .principal__contenido{
            position: absolute; 
            width: 300px;
            top: 30%; 
            padding: 3%;
            @include centrarHijos;

            .principal__contenido__titulo{
                padding-bottom: 8%;
                width: 100%;
            }
        }
    }
    

    /*--------------------------informacion------------------------------------------------------------------*/
    .informacion__box {
        background-color:$naranja-claro;

        .informacion__contenido {
            @include centrarHijos;
        }

        .informacion__contenido__item{
            margin: 40px 0px;
            text-align: center;
            width: 200px;
            @include centrarHijos;

            .boxIcono{
                background-color: #FFF0F0;
                width: 80px;
                height: 80px;
                margin-bottom: 10px;
                border-radius: 50%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
                @include centrarHijos;

                .boxIcono__icono{
                    @include sizes ( 40px, 40px);
                }
            
            }
        }
    
    }

    /*--------------------------quienes somos------------------------------------------------------------------*/
    .qsomos {
        @include sizes ( 100%, 600px);
        background-color:$crema;
        
        .qsomos__box {
            display: grid;
            grid-template:  auto auto / auto ;
            text-align: center;
            grid-template-areas: "qsomos-texto"
                                    "img-qsomos";
            justify-content: center;
            align-items: center;

            .qsomos__contenido{
                grid-area: "qsomos-texto";
                padding-bottom: 8%;
                width: 320px;

                .qsomos__contenido__titulo{
                    margin-bottom:  8%;
                }
                
            }
            .qsomos__img{
                @include sizes ( 320px, 239px);
                grid-area: "img-qsomos";
            }
        }
    }
    
    /*--------------------------Servicios------------------------------------------------------------------*/
    .servicios {
        background-color:$naranja-claro;
        padding: 10% 3%;

        .servicios__box {
            display: grid;
            grid-template: repeat(4, auto) / auto;
            gap: 30px;
            justify-content: center;
        
            .servicios__item {
                @include sizes ( 300px, 250px);
                background-color:$crema;
                border-radius: 10px;
                text-align: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 10% 0px;
                box-sizing: content-box;
                @include centrarHijos;

                .servicios__item__titulo {
                    width: 100%;
                    font-size: 27px;
                    font-weight: normal;
                    margin: -50px 0px;
                }
                .servicios__item__icono {
                    @include sizes ( 48px, 48px ) ;
                }
                .servicios__item__texto {
                    width: 220px;
                }
            }
        }
    }
    
    /*--------------------------introCatalogo------------------------------------------------------------------*/
    .intoCatalogo {
        background:$crema;

        .intoCatalogo__box {
            display: grid;
            grid-template: repeat(4, auto) / auto;
            gap: 30px;
            text-align: center;
            justify-items: center;
            padding: 12% 5%;

            .intoCatalogo__texto {
                width: 310px;
            }
            .intoCatalogo__img {
                @include sizes ( 300px, 200px);
            }
        }
    }

    /*--------------------------cotizacion------------------------------------------------------------------*/
    .cotizacion{
        @include sizes (100%, 565px);
        background-image: url(../imagenes/cotizacion.png);
        background-size: contain;

        .cotizacion__box{
            @include sizes (100%, 40%);
            @include centrarHijos;
        }
    }

}

@media only screen and (min-width: $tablet){
    /*--------------------------quienes somos------------------------------------------------------------------*/
    .qsomos {
        @include sizes ( 100%, 800px); 

        .qsomos__contenido {
            width: 440px;

            
        }
        .qsomos__img {
            @include sizes ( 440px, 339px);
        }
    }

    /*--------------------------cotizacion------------------------------------------------------------------*/
    .cotizacion{
        @include sizes (100%, 600px);

        .cotizacion__box{
            @include sizes (100%, 40%);

            .cotizacion__titulo{
                width: 100%;
            }
        }
    }

}

@media only screen and (min-width: $desktop){
    /*--------------------------img principal------------------------------------------------------------------*/
    .principal {

        .principal__img {
            height: 100vh;
        }
        .principal__contenido {
            width: 100%;
        }
        .principal__contenido__titulo {
            padding-bottom: 3%;
        }
    }

    /*--------------------------informacion__box------------------------------------------------------------------*/
    .informacion__box {

        .informacion__contenido{ 
            justify-content: space-around;
    
            .informacion__contenido__item {
                margin: 0px;
            }
        }
    }
     
    
    /*--------------------------quienes somos------------------------------------------------------------------*/
    .qsomos {
        position: relative;
        height: 800px; 

        .qsomos__box {
            grid-template:  auto / auto auto;
            justify-content: space-between;
            background-color: $naranja-intermedio;
            color:$crema; 
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        
            .qsomos__contenido {
                margin-right: 2%;
                width: 450px;

                .qsomos__contenido__titulo {
                    font-size: 52px;
                    color:$crema;
               
                }
            } 
            .qsomos__img {
                @include sizes ( 450px, 350px);
            }
        }
    }

   

    /*--------------------------Servicios------------------------------------------------------------------*/
    .servicios {
        padding: 1%; 

        .servicios__box {
            grid-template: auto auto / auto auto;
            gap: 35px 70px;

            .servicios__titulo {
                grid-column: span 2;
            }

            .servicios__item {
                @include sizes ( 320px, 210px);
                padding: 15% 5%;

                .servicios__item__titulo {
                    font-size: 27px;
                }
                .servicios__item__icono {
                    @include sizes ( 48px, 48px);
                }
                .servicios__item__texto {
                    width: 240px;
                }
            }
            .servicios__item:hover {
                transform: scale(1.03, 1.03);
            }
        }
    }
    
    
    /*--------------------------introCatalogo------------------------------------------------------------------*/
    .intoCatalogo{

        .intoCatalogo__box{
            display: grid;
            grid-template: repeat(2, auto) / repeat(3, auto);
            gap: 0px;
            grid-template-areas: "intoCatalogo__img--uno intoCatalogo__img--dos intoCatalogo__texto"
                                    "intoCatalogo__img--uno intoCatalogo__img--dos intoCatalogo__boton";
            text-align: center;
            padding: 8% 5%;

            .intoCatalogo__texto{
                @include sizes ( 200px, 200px);
                grid-area: "intoCatalogo__texto";
                align-self: end;
                
            }

            .intoCatalogo__img{
                @include sizes ( 320px, 600px);
                grid-row: span 2;
            }

            .intoCatalogo__img--uno{
                //@extend .intoCatalogo__img;
                grid-area: "intoCatalogo__img--uno";
            }
            .intoCatalogo__img--dos{
                grid-area: "intoCatalogo__img--dos";
            }

            .intoCatalogo__boton{
                //@extend .intoCatalogo__img;
                grid-area: "intoCatalogo__boton";
                align-self: start; 
            }
        }

    }

    /*--------------------------cotizacion------------------------------------------------------------------*/
    .cotizacion{
        @include sizes (100%, 600px);
    }
    
}