/*--------------------------html productos------------------------------------------------------------------*/


@media only screen and (min-width: $phone) {

    .productos {
        background-color:$naranja-claro;

        .productos__box {
            padding: 50px 0px;

            .producto {
                display: grid;
                grid-template: auto auto / auto;
                gap: 30px;
                justify-content: center;
                justify-items: center;
                margin-top: 50px;
                padding: 30px 25px;
                background:$crema;

                .producto__texto {
                    width: 290px;

                    .producto__titulo{
                        color: $marron-oscuro;
                    }
                }

                .producto__img {
                    @include sizes ( 290px, 200px);
                }
            }
        }


    }
    
}
@media only screen and (min-width: $tablet) {

    .productos {

        .productos__box {

            .producto{
                padding: 40px 70px;
        
                .producto__texto {
                    width: 320px;
                }
        
                .producto__img {
                    @include sizes ( 320px, 220px);
                }
            }
        }
    }
}
@media only screen and (min-width: $desktop){

    .productos {

        .productos__box {
            padding: 5% 0px;
            
            .producto {
                display: grid;
                grid-template: auto / auto auto;
                gap: 60px;
                align-items: center;
                margin-top: 50px;
                padding: 60px 80px;

                .producto__texto {
                    @include sizes ( 300px, 200px);
                    @include centrarHijos;

                    .producto__titulo {
                        font-size: 50px;
                        font-weight: lighter;
                    }

                }
                .producto__img {
                    @include sizes ( 400px, 300px);
                }
        }   }
    }
    

}